/*bubbles animation on index page*/
.bubbles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translate(0);
}
.bubbles li{
    position: absolute;
    list-style: none;
    display: block;
    background-image: url("/pics/Bobble.png");
    background-size: cover;
    bottom: -100px;
    animation: square 20s infinite;
    transition-timing-function: linear;
    border-radius: 50%;
}
.bubbles li:nth-child(1){
    width: 75px;
    height: 75px;
    left: 0%;
    animation-delay: 0s;
    animation-duration: 20s;
}    
.bubbles li:nth-child(2){
    width: 60px;
    height: 60px;
    left: 10%;
    animation-delay: 1s;
    animation-duration: 15s;
}
.bubbles li:nth-child(3){
    width: 40px;
    height: 40px;
    left: 20%;
}
.bubbles li:nth-child(4){
    width: 140px;
    height: 140px;
    left: 30%;
    animation-delay: 6s;
    animation-duration: 25s;
}
.bubbles li:nth-child(5){
    width: 60px;
    height: 60px;
    left: 40%;
    animation-delay: 2s;
    animation-duration: 17s;
}
.bubbles li:nth-child(6){
    width: 200px;
    height: 200px;
    left: 50%;
    animation-delay: 3s;
    animation-duration: 40s;
}
.bubbles li:nth-child(7){
    width: 10px;
    height: 10px;
    left: 60%;
    animation-delay: 4s;
    animation-duration: 13s;
}
.bubbles li:nth-child(8){
    width: 50px;
    height: 50px;
    left: 70%;
    animation-delay: 6s;
    animation-duration: 13s;
}
.bubbles li:nth-child(9){
    width: 80px;
    height: 80px;
    left: 80%;
    animation-delay: 1s;
    animation-duration: 22s;
}
.bubbles li:nth-child(10){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-delay: 7s;
    animation-duration: 12s;
}
@keyframes square{
    0%{
        -webkit-transform: translate(0);
        transform: translateY(0);
    }
    100%{
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}

/*changing the body and ul globally -- changing container and title on index page*/
.bodyChange{
    height: 100%;
    background-color: #7ec0ee;
    overflow-x: hidden;
    overflow-y: hidden;
}
.containerIndex{
    padding-top: 100px;
    height: 100%;
    width: 100%;
    margin:0 auto;
}
ul{
    background-image: url(/pics/sky.png);
    background-size:auto;
    background-position:center;
    background-repeat: no-repeat;
}
.title{
    width: 362px;
    height: 96px;
    background-image: url(/pics/Name.JPG);
    background-size: cover;
    margin:0 auto;
}

/*this changes the login/register form on index page*/
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

